*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}

/* HEADER */

.topo{
    width: 100%;
    height: 100px;

    background-color: #4CAF50;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;
}

.logo{
    color: white;

    font-size: 28px;
    font-weight: bold;
}

/* BOTOES HEADER */

.botoesHeader{
    display: flex;
    gap: 20px;
}

.botoesHeader button{
    padding: 12px 25px;

    border: none;
    border-radius: 8px;

    background-color: white;

    color: #4CAF50;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

.botoesHeader button:hover{
    background-color: #e6e6e6;
}

/* CONTEUDO */

.conteudo{
    width: 100%;

    display: flex;
    justify-content: center;

    padding: 20px 40px 40px 40px;
}

.descricao{
    width: 95%;

    min-height: 650px;

    background-color: white;

    border-radius: 12px;

    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);

    display: flex;

    overflow: hidden;
}

/* LADO ESQUERDO */

.ladoEsquerdo{
    width: 50%;

    padding: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ladoEsquerdo h1{
    font-size: 50px;

    color: #222;

    margin-bottom: 40px;

    font-weight: bold;
}

.ladoEsquerdo p{
    color: #444;

    font-size: 22px;

    line-height: 42px;

    text-align: left;
}

/* LADO DIREITO */

.ladoDireito{
    width: 50%;

    background-color: #4CAF50;

    color: white;

    padding: 60px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ladoDireito h2{
    font-size: 55px;

    font-weight: bold;

    margin-bottom: 40px;

    margin-top: 20px;
}

.ladoDireito p{
    font-size: 28px;

    line-height: 55px;

    text-align: left;

    margin-top: 20px;
}